$primary-color: blue;

nav{
  ul{
    li{
      div{
        margin-left: 10px;
        color: $primary-color;
      }
    }
  }
}

.js-media {
  h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
  }
}
